<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problema1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1>Rute</h1>
<label for="departure">
    <select id="departure">
        
        <option value="Brasov">Brasov</option>
        
        <option value="Timisoara">Timisoara</option>
        
        <option value="Iasi">Iasi</option>
        
        <option value="Ploiesti">Ploiesti</option>
        
        <option value="Brasov">Brasov</option>
        
    </select>
</label>
<label for="arrival">
    <select id="arrival">
        
    </select>
</label>
</body>
<script src="../static/pb1_jquery.js"></script>
</html>