<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problema3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<label for="person_id">
    <select id="person_id">
    </select>
</label>
<form id="formular">
    <label for="first_name">
        First Name:
        <input type="text" id="first_name" placeholder="First Name">
    </label><br>
    <label for="last_name">
        Last Name:
        <input type="text" id="last_name" placeholder="Last Name">
    </label><br>
    <label for="phone_number">
        Phone number:
        <input type="tel" id="phone_number" placeholder="Phone number">
    </label><br>
    <label for="email">
        Email:
        <input type="email" id="email" placeholder="Email">
    </label><br>
    <input id='save' type="submit">
</form>
</body>
<script src="../static/pb3.js"></script>
</html>