<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problema2</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1>Persoane</h1>
<table id="person_table">
    <tr>
        <th>Nume</th>
        <th>Prenume</th>
        <th>Telefon</th>
        <th>E-mail</th>
    </tr>
    {% for person in list_persons %}
    <tr>
        <td> {{ person[1] }}</td>
        <td> {{ person[2] }}</td>
        <td> {{ person[3] }}</td>
        <td> {{ person[4] }}</td>
    </tr>
    {% endfor %}
</table>

<button id="prev_btn" value="Prev" type="button">Inapoi</button>
<button id="next_btn" value="Next" type="button">Inainte</button>
</body>
<script src="../static/pb2_jquery.js"></script>
</html>