<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problema2</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1>Persoane</h1>
<table id="person_table">
    <tr>
        <th>Nume</th>
        <th>Prenume</th>
        <th>Telefon</th>
        <th>E-mail</th>
    </tr>
    
    <tr>
        <td> Calin</td>
        <td> Navadaru</td>
        <td> 0728475754</td>
        <td> navadarucalin@yahoo.com</td>
    </tr>
    
    <tr>
        <td> Mihai</td>
        <td> Alexandru</td>
        <td> 0731194933</td>
        <td> marius@yahoo.com</td>
    </tr>
    
    <tr>
        <td> Vasile</td>
        <td> Marius</td>
        <td> 0723456789</td>
        <td> john.cena@gmail.com</td>
    </tr>
    
</table>

<button id="prev_btn" value="Prev" type="button">Inapoi</button>
<button id="next_btn" value="Next" type="button">Inainte</button>
</body>
<script src="../static/pb2_jquery.js"></script>
</html>