<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problema5</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <ul id="lista">
        {% for elem in list_elements %}
            <li id="{{ elem }}"> {{ elem }} </li>
        {% endfor %}
    </ul>
    <label for="textarea">Continut:
        <textarea id="textarea" readonly ></textarea></label>
</body>
<script src="../static/pb5_jquery.js"></script>
</html>