<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problema5</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <ul id="lista">
        
            <li id="a.txt"> a.txt </li>
        
            <li id="director1"> director1 </li>
        
    </ul>
    <label for="textarea">Continut:
        <textarea id="textarea" readonly ></textarea></label>
</body>
<script src="../static/pb5_jquery.js"></script>
</html>