<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problema6</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<table id="tabel">
    <tr>
        <th>Procesor</th>
        <th>Memorie RAM</th>
        <th>Capacitate</th>
        <th>Placa video</th>
    </tr>
    
    <tr>
        <td> Intel i5</td>
        <td> 16 GB</td>
        <td> 256 GB</td>
        <td> RTX 3060</td>
    </tr>
    
    <tr>
        <td> Intel i5</td>
        <td> 32 GB</td>
        <td> 128 GB</td>
        <td> GTX 1060</td>
    </tr>
    
    <tr>
        <td> Intel i7 </td>
        <td> 16 GB</td>
        <td> 64 GB</td>
        <td> GTX 1080</td>
    </tr>
    
    <tr>
        <td> Ryzen 5 1600x</td>
        <td> 16 GB</td>
        <td> 128 GB</td>
        <td> AMD Radeon RX 7000</td>
    </tr>
    
    <tr>
        <td> Intel I9</td>
        <td> 32 GB</td>
        <td> 1 TB</td>
        <td> RTX 4080</td>
    </tr>
    
</table>
<form id="formular">
    <label for="procesor">Procesor:</label>
    <select id="procesor">
    
    
    <option selected> Intel i7 </option>
    
    
    
    <option> Intel I9</option>
    
    
    
    <option> Ryzen 5 1600x</option>
    
    
    
    <option> Intel i5</option>
    
    
    </select>
    <label for="ram">RAM:</label><select id="ram">
    
    
    <option selected> 32 GB</option>
    
    
    
    <option> 16 GB</option>
    
    
</select>
    <label for="capacitate">Procesor:</label><select id="capacitate">
    
    
    <option selected> 256 GB</option>
    
    
    
    <option> 64 GB</option>
    
    
    
    <option> 1 TB</option>
    
    
    
    <option> 128 GB</option>
    
    
</select>
    <label for="video">Procesor:</label><select id="video">
    
    
    <option selected> GTX 1060</option>
    
    
    
    <option> RTX 3060</option>
    
    
    
    <option> AMD Radeon RX 7000</option>
    
    
    
    <option> RTX 4080</option>
    
    
    
    <option> GTX 1080</option>
    
    
</select>
    <input type="submit" id="btn" value="Filtreaza">
</form>
</body>
<script src="../static/pb6_jquery.js"></script>
</html>