#tabel {
    border: 1px solid black;
    width: 50%; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
}

#tabel td {
    border: 1px solid black; /* Change the color as needed */
    text-align: center;
    color: transparent;

}